using System;

namespace {{Namespace}};

public partial class {{ClassName}} {

  /// <summary>
  /// Handles and processes the provided exception.
  /// </summary>
  /// <param name="ex">The exception to handle.</param>
  /// <returns>An integer value representing the result of handling the exception.</returns>  
  public int HandleException(Exception ex) {
    return ex switch {
        {{#Exceptions}}
        {{ExceptionName}} {{VarName}} => {{MethodName}}({{VarName}}),
        {{/Exceptions}}
        _ => {{DefaultExitCode}}
    };
  }
  
}