#root {
    max-width: 1920px;
    margin: 0 auto;
    text-align: left;

    height: 100vh; /* Make sure the container takes up the full viewport height */
    width: 100vw; /* and width */
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}